@media (max-width: 991.98px) {
    .title {
        font-size: rem(30);
        padding-bottom: rem(25);
        margin-bottom: rem(40);
    }

    .btn-link {
        display: inline-block;
        padding: rem(22) rem(10) rem(24);
        min-width: rem(150);
    }

    .load-more {
        font-weight: 700;
        font-size: rem(14);
        line-height: rem(24);
        text-transform: uppercase;
        color: $color-text-light-main;
        background: $color-accent;
        padding: rem(20) rem(18) rem(16) rem(54);
        border-radius: rem(4);
        position: relative;
        transition: box-shadow .3s;

        &::before,
        &::after {
            position: absolute;
            content: '';
            top: 50%;
            left: rem(28);
            transform: translateY(-50%);
            width: rem(4);
            height: rem(16);
            background: $color-text-light-main;
            border-radius: rem(1);
        }

        &::after {
            transform: translateY(-50%) rotate(90deg);

        }

        &:hover {
            box-shadow: 0 2px 10px $color-accent;

            &::before {
                animation: scaleBefore .5s linear infinite;
            }

            &::after {
                animation: scaleAfter .5s linear infinite;
            }
        }
    }

    @keyframes scaleBefore {
        0% {
            transform: translateY(-50%);
        }

        50% {
            transform: translateY(-50%) scale(1.5);
        }

        100% {
            transform: translateY(-50%);
        }
    }

    @keyframes scaleAfter {
        0% {
            transform: translateY(-50%) rotate(90deg);
        }

        50% {
            transform: translateY(-50%) scale(1.5) rotate(90deg);
        }

        100% {
            transform: translateY(-50%) rotate(90deg);
        }
    }


    .loading {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: rem(4);
        z-index: 10;
        background: $background-darkest;
        opacity: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
        animation: opacity .5s linear forwards;

        //.loading__dot
        &__dot {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #fff;
            animation: move 500ms linear 0ms infinite;
            margin-right: 30px;

            &:first-child {
                position: absolute;
                left: 20%;
                animation: grow 500ms linear 0ms infinite;
            }

            &:last-child {
                position: absolute;
                right: 15%;
                margin-right: 0;
                animation: grow 500ms linear 0s infinite reverse;
            }
        }
    }

    @keyframes opacity {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes grow {
        from {
            transform: scale(0, 0);
            opacity: 0;
        }

        to {
            transform: scale(1, 1);
            opacity: 1;
        }
    }

    @keyframes move {
        from {
            transform: translateX(0px)
        }

        to {
            transform: translateX(45px)
        }
    }
}

@media (max-width: 767.98p) {}

@media (max-width: 479.98px) {}